<div class="container">
  <h1>Registro</h1>
  <form id="registerForm">
    <label>Nombre</label>
    <input name="firstName" />
    <br />
    <label>Apellido</label>
    <input name="lastName" />
    <br />
    <label>Email</label>
    <input name="email" />
    <br />
    <label>Fecha de nacimiento</label>
    <input type="date" name="dateOfBirth" />
    <br />
    <label>Contraseña</label>
    <input type="password" name="password" />
    <input type="submit" />
  </form>
  <p>¿Ya eres usuario registrado? <a href="/login">Ingresa aquí</a></p>
</div>
<script src="/js/register.js"></script>